.minion-display {
	background-color: rgba(0, 0, 0, .1);
	border: 1px solid #fff;
	color: #fff;
	margin-block-end: 0;
	margin-block-start: 0;
	padding: 5px;

	dd {
		color: #0f0;
		text-align: right;

		.value {
			color: rgba(255,255,0,.9);
			font-weight: bold;
		}
	}

	dt {
		font-weight: bold;
	}
}
