<div class="game-container">
	<h3 class="coins">Num coins: <span class="value">{{coins}}</span></h3>
	<button
		class="btn-earn-coin"
		(click)="onGenerateCoin($event)">Earn coin</button>
	<button
		class="btn-summon-minion"
		[disabled]="coins < 10"
		(click)="onSummonMinion($event)">Summon minion for 10 coins</button>
	<h3 *ngIf="minions.length > 0">Minions</h3>
	<div *ngIf="minions.length > 0" class="minion-container">
		<dl *ngFor="let minion of minions; index as i" class="minion-display">
			<dt>#</dt>
			<dd>{{i + 1}}</dd>
			<dt>Hitpoints</dt>
			<dd>{{minion.hp}}</dd>
			<dt>Attack</dt>
			<dd>{{minion.attack}}</dd>
			<dt>Defense</dt>
			<dd>{{minion.defense}}</dd>
			<dt>Damage Taken</dt>
			<dd>{{minion.damageTaken}}</dd>
		</dl>
	</div>
</div>
