.item-list-container {
	button {
		&.btn-purchase-soldier {
			/* CSS variable, does not work w/ grayscale() */
			/* --bg-color: rgba(150,85,0,.75); */
			/* background-color: var(--bg-color); */
			$bg-color: rgba(150,85,0,.75);
			background-color: $bg-color;

			&:hover {
				background-color: lighten($bg-color, 10%);
			}

			&[disabled] {
				background-color: grayscale($bg-color);
			}
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		margin-block-end: 0;
		margin-block-start: 0;
		margin-inline-end: 0;
		margin-inline-start: 0;
		padding: 0;
		padding-inline-start: 0;
	}
}
