<div class="game-container">
	<h3 class="coins">Num coins: <span class="value">{{coins}}</span></h3>
	<button
		class="btn-earn-coin"
		(click)="onGenerateCoin($event)">Earn coin</button>
	<button
		class="btn-summon-minion"
		[disabled]="coins < 10"
		(click)="onSummonMinion()">Summon minion for 10 coins</button>
	<h3>Minions (<span class="value">{{minions.length}}</span>)</h3>
	<div *ngIf="minions.length > 0" class="minion-container">
		<p>Minions below...</p>
		<!--
		<div *ngFor="let minion of minions; index as i">
			<ag-minion [minion]="minion">
			</ag-minion>
		</div>
		-->
	</div>
</div>
