<div class="game-container">
	<h3 class="coins">Num coins: <span class="value">{{gameService.coins}}</span></h3>
	<button
		class="btn-earn-coin"
		(click)="onGenerateCoin()">Earn coin</button>
	<button
		class="btn-summon-minion"
		[disabled]="gameService.coins < 10"
		(click)="onSummonMinion()">Summon minion for 10 coins</button>
	<h3>Minions (<span class="value">{{gameService.minions.length}}</span>)</h3>
	<div *ngIf="gameService.hasMinions" class="minion-container">
		<div *ngFor="let minion of gameService.minions; index as i">
			<ag-quester [minion]="minion"
				(minionHealed)="onMinionHealed(i)"
				(minionRefunded)="onMinionRefunded(i)"
				(questCompleted)="onQuestCompleted(i)"
				></ag-quester>
		</div>
	</div>
	<div class="log">
		<textarea cols="80" rows="10">{{loggerService.logsAsLines}}</textarea>
	</div>
	<button
		class="btn-clear-logs"
		[disabled]="!loggerService.hasLogs"
		(click)="onClearLogs()">Clear logs</button>
</div>
