.progress-bar {
	background-color: #888;
	border: 1px solid #000;
	border-radius: 20px;
	height: 15px;
	margin: 5px 0;
	padding: 5px;
	width: 92%;

	.bar {
		// background-color: #ffff00;
		border-radius: 20px;
		height: 100%;
	}
}
