<div class="progress-bar">
	<svg *ngIf="shouldUseSVG; else nonSVG"
		viewBox="0, 0, 100, 8">
		<ellipse
			[attr.cx]="value / 2"
			[attr.cy]="4"
			[attr.rx]="value / 2"
			[attr.ry]="4"
			[ngStyle]="{ fill: value > thresholdAlmostComplete ? colorAlmostComplete : (value > thresholdHalfComplete ? colorHalfComplete : colorStartingToComplete) }"
			class="bar"></ellipse>
	</svg>
	<ng-template #nonSVG>
		<div *ngIf="shouldUseDynamicColoring; else elseBlock"
			[ngStyle]="{ backgroundColor: value > thresholdAlmostComplete ? colorAlmostComplete : (value > thresholdHalfComplete ? colorHalfComplete : colorStartingToComplete), width: value + '%' }"
			class="bar"></div>
		<ng-template #elseBlock>
			<div [ngStyle]="{ backgroundColor: colorAlmostComplete, width: value + '%' }" class="bar"></div>
		</ng-template>
	</ng-template>
</div>
