<article class="container">
	<section class="header"></section>

	<section class="content" role="main">
		<h3 class="coins">Num coins: <span class="value">{{coins}}</span></h3>
		<h3 *ngIf="goldBars > 0"
			class="gold">Num gold bars: <span class="value">{{goldBars}}</span></h3>
		<button
			class="btn-earn-coin"
			(click)="onGenerateCoin($event)">Earn coin</button>
		<button
			class="btn-exchange-coins"
			[disabled]="coins < 10"
			(click)="onExchangeCoinsForBar($event)">Exchange 10 coins for gold bar</button>
	</section>

	<router-outlet></router-outlet>

	<section class="footer"></section>
</article>
