.shop-container {
	color: #fff;

	button {
		&.btn-exchange-coins {
			$bg-color: rgba(225,225,0,.75);
			background-color: $bg-color;

			&:hover {
				background-color: lighten($bg-color, 15%);
			}

			&[disabled] {
				background-color: grayscale($bg-color);
			}
		}

		&.btn-exchange-bars {
			$bg-color: rgba(0,225,225,.75);
			background-color: $bg-color;

			&:hover {
				background-color: lighten($bg-color, 15%);
			}

			&[disabled] {
				background-color: grayscale($bg-color);
			}
		}
	}
}
